.footer{
    display: flex;
    position: fixed;
    bottom:0;
    justify-content: space-between;
    height: 45px;
    width: 98%;
    background-color: #282828;
    padding: 20px;
    z-index: 5;
}
.footer__left{
    flex:0.3;
    display: flex;
    align-items: center;
    color: white;
    max-width: 300px;
    min-width: 250px;
    
    
}
.footer__songImage{
    height: 60px;
    width: 60px;
    margin-right: 20px;
    object-fit: contain;
}
.footer__songInfo > h4{
    margin-bottom: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.footer__songInfo > p {
    font-size: 12px;
}
.footer__iconGreen{
    color: #52af77;
}
.footer__icon:hover{
    transition: transform 0.2s ease-in-out;
    transform: scale(1.2)!important;
}
.footer__center{
    flex:0.4;
    padding: 0 100px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 300px;

}
.footer__right{
    flex:0.3;
    /* padding: 0 100px; */
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* max-width: 300px; */
}
